<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCe1E2IjU4j24T_GcQ0rs1BGjRVDH2nFgY</string>
	<key>GCM_SENDER_ID</key>
	<string>309785311155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.note.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ankon12</string>
	<key>STORAGE_BUCKET</key>
	<string>ankon12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309785311155:ios:a385bb5306d69ec7ac7dc6</string>
</dict>
</plist>